# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

# Virtual Environment
goes_rocket_env/
venv/
ENV/

# Data files
data/
*.nc

# Output files
*.png
